<div class="content">
<h4>Select Planets you want to search in :</h4>
<mat-grid-list cols="4" rowHeight="100px">

<mat-grid-tile>
    <mat-card class="card"><label class="text"> Planet one </label>
    <mat-form-field appearance="fill">
        <mat-label>Favorite food</mat-label>
        <mat-select>
            <mat-option value="volvo">Volvo</mat-option>
            <mat-option value="saab">Saab</mat-option>
            <mat-option value="mercedes">Mercedes</mat-option>
            <mat-option value="audi">Audi</mat-option>
        </mat-select>
      </mat-form-field>
    </mat-card>
 
</mat-grid-tile>

<mat-grid-tile>
    <mat-card class="card">Planet two</mat-card>
</mat-grid-tile>

<mat-grid-tile>
    <mat-card class="card">Planet three</mat-card>
</mat-grid-tile>

<mat-grid-tile>
    <mat-card class="card">Planet four</mat-card>
</mat-grid-tile>

</mat-grid-list>
</div> 