<div class="content">
    <h4>Select Planets you want to search in :</h4>
    <mat-grid-list cols="4" rowHeight="150px">

        <mat-grid-tile>
            <mat-card class="card">
                <mat-list role="list">
                    <mat-list-item role="listitem">
                        <label class="text"> Planet one </label>
                    </mat-list-item>
                    <mat-list-item role="listitem">
                        <mat-form-field appearance="fill">
                            <mat-label>Select planet</mat-label>
                            <mat-select>
                                <mat-option *ngFor="let food of foods" [value]="food.value">
                                    {{food.viewValue}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </mat-list-item>
                </mat-list>
            </mat-card>
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-card class="card">
                <mat-list role="list">
                    <mat-list-item role="listitem">
                        <label class="text"> Planet Two </label>
                    </mat-list-item>
                    <mat-list-item role="listitem">
                        <mat-form-field appearance="fill">
                            <mat-label>Select planet</mat-label>
                            <mat-select>
                                <mat-option *ngFor="let food of foods" [value]="food.value">
                                    {{food.viewValue}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </mat-list-item>
                </mat-list>
            </mat-card>
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-card class="card">
                <mat-list role="list">
                    <mat-list-item role="listitem">
                        <label class="text"> Planet Three </label>
                    </mat-list-item>
                    <mat-list-item role="listitem">
                        <mat-form-field appearance="fill">
                            <mat-label>Select planet</mat-label>
                            <mat-select>
                                <mat-option *ngFor="let food of foods" [value]="food.value">
                                    {{food.viewValue}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </mat-list-item>
                </mat-list>
            </mat-card>
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-card class="card">
                <mat-list role="list">
                    <mat-list-item role="listitem">
                        <label class="text"> Planet Four </label>
                    </mat-list-item>
                    <mat-list-item role="listitem">
                        <mat-form-field appearance="fill">
                            <mat-label>Select planet</mat-label>
                            <mat-select>
                                <mat-option *ngFor="let food of foods" [value]="food.value">
                                    {{food.viewValue}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </mat-list-item>
                </mat-list>
            </mat-card>
        </mat-grid-tile>

    </mat-grid-list>
    <h2 class="time">Time taken:{{timeTaken}}</h2>
</div>